<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
      <div class="col-lg-8">
        <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
      </div>
  
      <div class="col-lg-4 p-4">
          <h4 class="text-left break-word">{{photo.description}}</h4>
          <hr>
        <ap-photo-comments [photoId]="photoId" *ngIf="photo.allowComments; else warnning"></ap-photo-comments>
        <ng-template #warnning>
            <p>User has disabled commets for this photo.</p>
        </ng-template>
      </div>
    </div>
  </div>