<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-button btn btn-primary">
                <i aria-hidden="true" class="fa fa-search mr-1"></i>
              </span>
            </div>
            <input
              class="rounded"
              type="search"
              placeholder="search..."
              autofocus
              (keyup)="debounce.next($event.target.value)"
              [value]="value"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

