<h2>Sign Up</h2>
<form #form="ngForm" class="form mt-4" [formGroup]="signUpForm" (submit)="signUp()">
  <div class="form-group">
    <input #emailInput class="form-control" formControlName="email" placeholder="Email" />
    <ap-vmessage *ngIf="signUpForm.get('email').errors?.required && (form.submitted || signUpForm.get('email').touched)" text="Email is required">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('email').errors?.email && (form.submitted || signUpForm.get('email').touched)" text="Invalid email">
    </ap-vmessage>
  </div>

  <div class="form-group">
    <input class="form-control" formControlName="fullName" placeholder="Full name" />
    <ap-vmessage *ngIf="signUpForm.get('fullName').errors?.required && (form.submitted || signUpForm.get('fullName').touched)" text="Fullname is required">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('fullName').errors?.minlength && (form.submitted || signUpForm.get('fullName').touched)" text="Minimum lenght is 02">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('fullName').errors?.maxlength && (form.submitted || signUpForm.get('fullName').touched)" text="Maximum lenght is 40">
    </ap-vmessage>
  </div>
  <div class="form-group">
    <input class="form-control" formControlName="userName" placeholder="Username" />
    <ap-vmessage *ngIf="signUpForm.get('userName').errors?.required && (form.submitted || signUpForm.get('userName').touched)" text="Username is required">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('userName').errors?.minlength && (form.submitted || signUpForm.get('userName').touched)" text="Minimum lenght is 02">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('userName').errors?.maxlength && (form.submitted || signUpForm.get('userName').touched)" text="Maximum lenght is 30">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('userName').errors?.lowerCase && (form.submitted || signUpForm.get('userName').touched)" text="Must be lower case">
    </ap-vmessage>
    <ap-vmessage text="Username already exists" *ngIf="signUpForm.get('userName').errors?.userNameTaken">
    </ap-vmessage>
    <small *ngIf="signUpForm.get('userName').valid && (form.submitted || signUpForm.get('userName').touched)" class="text-success">User available</small>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="Password" />
    <ap-vmessage *ngIf="signUpForm.get('password').errors?.required && (form.submitted || signUpForm.get('password').touched)" text="Password is required">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('password').errors?.minlength && (form.submitted || signUpForm.get('password').touched)" text="Minimum lenght is 08">
    </ap-vmessage>
    <ap-vmessage *ngIf="signUpForm.get('password').errors?.maxlength && (form.submitted || signUpForm.get('password').touched)" text="Maximum lenght is 14">
    </ap-vmessage>
  </div>

  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
  <p>Already a user? <a [routerLink]="['']">SignIn</a></p>
</form>